<section class="Form">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6 text-center">
            <img src="./vt.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-5">
                <h2 class="font-weight-bold py-3">Signup</h2>
                    <form>
                        <div class="form-row">
                             <div class="col-lg-9">
                                <input type="email" placeholder="Enter email" class="form-control my-3 p-2 ">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-9">
                                <input type="tel" placeholder="Enter Mobile number" class="form-control my-3 p-2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-9">
                                <input type="text" placeholder="Enter username" class="form-control my-3 p-2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-9">
                                <input type="password" placeholder="Confirm password" class="form-control my-3 p-2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-9">
                                <input type="password" placeholder="Enter password" class="form-control my-3 p-2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-9">
                            <button type="submit" class="btn mt-3 mb-5">Login</button>
                        </div>
                        </div> 
                    </form>
                <a href="#">Forgot Password</a>
                <p>Already a user? <a href="#">Login</a></p>
            </div>
        </div>
    </div>
</section>
