<div class="container">
  <div class="d-flex justify-content-end my-3">
    <button
      class="btn btn-info text-light"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Appointment List
    </button>
  </div>
  <div class="row">
    <div
      class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center"
      *ngFor="let booking of acceptedBooking"
    >
      <div class="our-team" style="min-width: 250px">
        <div class="picture">
          <img
            class="img-fluid"
            src="https://icons-for-free.com/iconfiles/png/512/avatar+human+male+man+men+people+person+profile+user+users-1320196163635839021.png"
          />
        </div>
        <div class="team-content">
          <h3 class="name">{{ booking.lawFirmName }}</h3>
          <h4 class="title">{{ booking.date | date }}</h4>
          <h4 class="title">{{ booking.date | date: "shortTime" }}</h4>
        </div>
        <ul class="social"></ul>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="d-flex justify-content-between align-items-self">
              <h1 class="modal-title">Appointment List</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div *ngFor="let booking of nonAcceptedBooking">
              <div class="list-item">
                <div class="picture">
                  <img
                    class="img-fluid"
                    src="https://icons-for-free.com/iconfiles/png/512/avatar+human+male+man+men+people+person+profile+user+users-1320196163635839021.png"
                  />
                </div>
                <h3 style="margin-bottom: 0px">{{ booking.lawFirmName }}</h3>
                <h4 style="margin-bottom: 0px">
                  {{ booking.date | date: "shortDate" }}
                </h4>
                <h4 style="margin-bottom: 0px">
                  {{ booking.date | date: "shortTime" }}
                </h4>
                <button
                  class="btn btn-outline-success"
                  (click)="handleBookingStatus(booking.id, 'accepted')"
                >
                  <fa-icon [icon]="faCheck"></fa-icon></button
                ><button
                  class="btn btn-outline-danger"
                  (click)="handleBookingStatus(booking.id, 'rejected')"
                >
                  <fa-icon [icon]="faTimes"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
