<div class="container">
  <!--Display search bar-->
  <div class="jumbotron">
    <div class="Page header">
      <form class="d-flex justify-content-center">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Type here to search"
          aria-label="Search"
          style="max-width: 70vh"
        />
        <button class="btn btn-outline-success btn-tool me-2" type="submit">
          Search
        </button>
        <button class="btn btn-outline-success btn-tool me-2" type="submit">
          Add
        </button>
      </form>
    </div>
  </div>
  <!--Display table-->
  <div class="row">
    <div class="col-md-8">
      <div class="group-content">
        <table class="table table-responsive table-hover">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col" colspan="2">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">2</th>
              <td>xyz</td>
              <td>xyz@gmail.com</td>
              <td>
                <button class="btn bg-light">
                  <fa-icon class="text-success" [icon]="faEdit"></fa-icon>
                </button>
              </td>
              <td>
                <button class="btn bg-light">
                  <fa-icon class="text-danger" [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>efg</td>
              <td>efg@gmail.com</td>
              <td>
                <button class="btn bg-light">
                  <fa-icon class="text-success" [icon]="faEdit"></fa-icon>
                </button>
              </td>
              <td>
                <button class="btn bg-light">
                  <fa-icon class="text-danger" [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>efg</td>
              <td>efg@gmail.com</td>
              <td>
                <button class="btn bg-light">
                  <fa-icon class="text-success" [icon]="faEdit"></fa-icon>
                </button>
              </td>
              <td>
                <button class="btn bg-light">
                  <fa-icon class="text-danger" [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>efg</td>
              <td>efg@gmail.com</td>
              <td>
                <button class="btn bg-light">
                  <fa-icon class="text-success" [icon]="faEdit"></fa-icon>
                </button>
              </td>
              <td>
                <button class="btn bg-light">
                  <fa-icon class="text-danger" [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--Display Sidebox-->
    <div class="col-md-4">
      <div class="paper no-gutters">
        <h2 class="text-center pb-2 pt-4">Add/Edit Details</h2>
        <form>
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="name"
                placeholder="Enter name"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="email"
                placeholder="Enter email"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="number"
                placeholder="Enter experience"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="text"
                placeholder="Enter Shop Name"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="password"
                placeholder="Enter password"
                class="form-control"
              />
            </div>
          </div>
        </form>
        <div class="form-row d-flex justify-content-center my-2">
          <button type="submit" class="btn btn-dark">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
