<div class="container" style="padding-bottom: 50px">
  <!--Display search bar-->
  <div class="jumbotron">
    <div class="Page header">
      <form class="d-flex justify-content-center">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Type here to search"
          aria-label="Search"
          style="max-width: 70vh"
        />
        <button class="btn btn-light me-2" type="button">Search</button>
        <button class="btn btn-light me-2" type="button">Add</button>
      </form>
    </div>
  </div>
  <!--Display table-->
  <div class="row">
    <div class="col-md-8">
      <table class="group-content table table-responsive table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col" colspan="2">Options</th>
          </tr>
        </thead>
        <tbody *ngFor="let trainer of trainers">
          <tr>
            <td>{{ trainer.username }}</td>
            <td>{{ trainer.email }}</td>
            <td class="text-center">
              <button
                class="btn bg-light"
                (click)="handleSelectedTrainer(trainer)"
              >
                <fa-icon class="text-success" [icon]="faEdit"></fa-icon>
              </button>
            </td>
            <td class="text-center">
              <button class="btn bg-light" (click)="deleteTrainer(trainer.id)">
                <fa-icon class="text-danger" [icon]="faTrashAlt"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--Display Sidebox-->
    <div class="col-md-4 col-12">
      <div class="paper">
        <h2 class="text-center pb-2 pt-4">Add/Edit Details</h2>
        <form [formGroup]="newTrainerForm" (ngSubmit)="onSubmit()">
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="username"
                placeholder="Enter name"
                class="form-control"
                formControlName="username"
                [ngClass]="{
                  'is-invalid': f.username.touched && f.username.errors }"/>
                <div *ngIf="f.username.touched && f.username.errors"
                class="invalid-feedback">
                <div *ngIf="f.username.errors.required">
                  Username is required
                </div>
                <div *ngIf="f.username.errors.minlength">
                  Username must be atleast 3 characters
                </div>
              </div>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="email"
                placeholder="Enter email"
                class="form-control"
                formControlName="email"
                name="email"
                [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
              />
              <div
                *ngIf="f.email.touched && f.email.errors"
                class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be valid</div>
              </div>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="number"
                placeholder="Enter experience"
                name="experience"
                class="form-control"
                formControlName="experience"
                [ngClass]="{
                  'is-invalid': f.experience.touched && f.experience.errors }"
              />
              <div
                *ngIf="f.experience.touched && f.experience.errors"
                class="invalid-feedback">
              <div *ngIf="f.experience.errors.required">Experience is required </div>
              </div>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="text"
                placeholder="Enter Shop Name"
                class="form-control"
                formControlName="shopName"
                name="shopName"
                [ngClass]="{
                  'is-invalid': f.shopName.touched && f.shopName.errors }"
              />
              <div *ngIf="f.shopName.touched && f.shopName.errors"
                class="invalid-feedback">
                <div *ngIf="f.shopName.errors.required">
                  Shop name is required
                </div>
              </div>
            </div>
            
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="text"
                placeholder="Enter password"
                class="form-control"
                formControlName="password"
                [ngClass]="{
                  'is-invalid': f.password.touched && f.password.errors
                }"
              />
              <div
                *ngIf="f.password.touched && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
                <div *ngIf="f.password.errors.minlength">Password must be atleast 6 characters</div>
              </div>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-lg-10 my-2">
              <input
                type="text"
                placeholder="Enter profile Image Url"
                class="form-control"
                name="profileUrl"
                formControlName="profileUrl"
              />
            </div>
          </div>
        </form>
        <div class="form-row d-flex justify-content-center my-2">
          <button type="submit" class="btn btn-dark me-2" (click)="onSubmit()">
            {{ selectedTrainer ? "Update" : "Submit" }}
          </button>
          <div *ngIf="selectedTrainer">
            <button class="btn btn-outline-dark me-2" (click)="cancelUpdate()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
