<nav class="navbar sticky-top navbar-dark bg-info">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Navbar</a>
    <form class="d-flex">
      <a
        class="btn btn-info text-white me-2"
        (click)="redirect('/home/trainer')"
      >
        Home
      </a>
      <a
        class="btn btn-info text-white me-2"
        (click)="redirect('/report/trainer')"
      >
        Report
      </a>
      <a class="btn btn-info text-white me-2" (click)="redirect('logout')"
        >Logout</a
      >
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
