<section class="Form">
  <div class="container">
    <div class="row bg-light no-gutters" style="height: 100%">
      <div class="col-lg-6 text-center p-0">
        <img
          src="https://images.indianexpress.com/2021/01/Golden-Retriever-dog.jpg"
          class="img-fluid"
          alt=""
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="col-lg-6 pt-5">
        <h2 class="font-weight-bold py-3 text-center">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-row d-flex justify-content-center">
            <div class="col-7">
              <input
                type="email"
                placeholder="Enter email"
                class="form-control my-3 p-2"
                formControlName="email"
                [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
              />
              <div
                *ngIf="f.email.touched && f.email.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be valid</div>
              </div>
            </div>
            <div class="col-2">
              <button
                class="btn btn-sm my-3 p-2 rounded-0 btn-dark"
                (click)="handleSendOtp()"
              >
                send OTP
              </button>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-9">
              <input
                type="password"
                placeholder="Enter password"
                class="form-control my-3 p-2"
                formControlName="password"
                [ngClass]="{
                  'is-invalid': f.password.touched && f.password.errors
                }"
              />
              <div
                *ngIf="f.password.touched && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-9">
              <input
                type="otp"
                placeholder="Enter otp"
                class="form-control my-3 p-2"
                formControlName="otp"
                [ngClass]="{
                  'is-invalid': f.otp.touched && f.otp.errors
                }"
              />
              <div
                *ngIf="f.otp.touched && f.otp.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.otp.errors.required">otp is required</div>
              </div>
            </div>
          </div>
          <div class="form-row d-flex justify-content-center">
            <div class="col-9">
              <button type="submit" class="btnn mt-3 mb-5">Login</button>
            </div>
          </div>
          <div class="mb-5 text-center">
            <h3>
              Don't have an account? <a routerLink="/signup">Register Here</a>
            </h3>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
